
<aside class="sidebar">
  <div class="container sidebar-sticky-top">
    <div class="profile">
      {{ if .Site.Params.avatarLink }}
          <a href="{{ .Site.Params.avatarLink }}">
            <img class="avatar" alt="avatar" src="{{ "/images/avatar.png" | relURL }}" />
          </a>
      {{ else }}
          <img class="avatar" alt="avatar" src="{{ "/images/avatar.png" | relURL }}" />
      {{ end }}

      <div class="sidebar-about center">
        {{ with .Site.Params.Name }}
          <h2>{{ . | markdownify }}</h2>
        {{ end }}
        


        <br />
        <p class="lead">
          {{ with .Site.Params.descriptionShort }} 
          {{ . | markdownify}} 
          {{end}}
          </p>
      </div>

    </div>

    <br>

    <h3>Featured Posts</h3>
    <ul>
      {{ range first 3 (where (where .Site.RegularPages "Type" "in" site.Params.mainSections) ".Params.featured" "=" true) }}
        <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></li>
      {{ end }}
    </ul>
  </div>

  <div class="container sidebar-sticky center">

  
    <div class="sidebar-about left">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>

    </div>

    

    <nav>
      <ul class="sidebar-nav left">
        {{ range .Site.Menus.main -}}
          <li><a href="{{.URL}}"> {{ .Name }} </a></li>
        {{- end }}
      </ul>
    </nav>

    <br>

    <div class="social" id="social">
      {{ range $key, $val := .Site.Social }}
          <a class="symbol" href="{{ $val }}" target="_blank">
              {{ $svg :=  print "svgs/" $key ".svg" }}
              {{ partial $svg (dict "border" "#000" "width" 48 "height" 48 ) }}
          </a>
      {{ end }}
    </div>
    <p>{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{ now.Format "2006"}}. All rights reserved. {{end}}</p>
  </div>
</aside>
